*{
    font-family: "Permanent Marker";
}

body{
  background-color: #317d3a;
}

button{
  height: 100px;
  width: 200px;
  background-color: #fc2003;
  font-size: 1.5em;
}
.gameName{
  font-size: 3em;
  margin: 0 auto;
  text-align: center;
}

.container{
  display: flex;
  justify-content: space-between;
}

.player1{
  margin: auto;
  font-size: 2em;
}

.computer{
  margin: auto;
  font-size: 2em;
}

.button{
  margin: 0 auto;
  text-align: center;
  margin: 50px;

}
